<script src="/js/Javascript/jquery/dist/jquery.min.js"></script>
<script src="/js/Javascript/popper.js/dist/umd/popper.min.js"></script>
<script src="/js/Javascript/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/Javascript/chart.js/dist/Chart.min.js"></script>
<script src="/js/Javascript/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5NXz9eVnyJOA81wimI8WYE08kW_JMe8g&callback=initMap" async defer></script>
<script src="/js/off-canvas.js"></script>
<script src="/js/hoverable-collapse.js"></script>
<script src="/js/misc.js"></script>
<script src="/js/chart.js"></script>
<script src="/js/maps.js"></script>
<script>
  // Timeout for inactivity (in milliseconds)
  const INACTIVITY_TIMEOUT = 30 * 60 * 1000; // 30 seconds for testing

  let inactivityTimer;

  function resetInactivityTimer() {
    clearTimeout(inactivityTimer);
    inactivityTimer = setTimeout(logoutUser, INACTIVITY_TIMEOUT);
  }

  function logoutUser() {
    window.location.href = '/logout';
  }

  // Add event listeners for user activity
  window.onload = resetInactivityTimer;
  document.onmousemove = resetInactivityTimer;
  document.onkeypress = resetInactivityTimer;
  document.ontouchstart = resetInactivityTimer; // for mobile devices

</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.querySelector('form'); // Update with your form selector
    const loadingOverlay = document.querySelector('.loading-overlay');

    form.addEventListener('submit', function() {
      loadingOverlay.style.display = 'flex';
    });

    // Add this function where you handle the form submission response
    function handleFormResponse() {
      loadingOverlay.style.display = 'none';
      // Additional logic or redirection after form submission response
    }
  });

</script>
</body>

</html>
