
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<link rel="manifest" href="images/site.webmanifest">

<title>lorem ipsam Admin</title>
<link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
  <link rel="stylesheet" href="node_modules/flag-icon-css/css/flag-icon.min.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="shortcut icon" href="images/favicon.png" />

</head>

<body>
  <!-- Add this at the end of your body tag -->
<div class="loading-overlay">
  <div class="loading-spinner"></div>
</div>

<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script>
$(document).ready(function() {
    $('#transactionTable').DataTable({
        "order": [
            [0, "desc"]
        ],
        "lengthMenu": [10, 25, 50],
        "stripeClasses": ['even', 'odd'],
        "pagingType": "simple_numbers",
    });
});
</script>
<style>
.dataTables_filter label {
    float: right;
}

.dataTables_filter label input {
    padding: 0px 10px;
    min-height: 25px;
    margin-left: 5px;
}
</style>

<div class=" container-scroller">
    <!-- partial:../partials/_navbar.php -->
  
   <nav class="navbar navbar-default col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
         <div class="bg-white text-center navbar-brand-wrapper">
           <a class="navbar-brand brand-logo" href="index.php"><img src="images/logo_star_black.png" /></a>
           <a class="navbar-brand brand-logo-mini" href="index.php"><img src="images/logo_star_mini.jpg" alt=""></a>
         </div>
         
         <div class="navbar-menu-wrapper d-flex align-items-center">
           
           <button class="navbar-toggler navbar-toggler d-none d-lg-block navbar-dark align-self-center mr-3" type="button" data-toggle="minimize">
             <span class="navbar-toggler-icon"></span>
           </button>
      
           <!-- <ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">
             <li class="nav-item">
               <a class="nav-link profile-pic" href="#"><img class="rounded-circle" src="../images/face.jpg" alt=""></a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#"><i class="fa fa-th"></i></a>
             </li>
           </ul> -->
           <button class="navbar-toggler navbar-dark navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
             <span class="navbar-toggler-icon"></span>
           </button>
                 
     
   
   
       
        
         </div>
       </nav>
     <!-- partial -->
     <div class="container-fluid">
       <div class="row row-offcanvas row-offcanvas-right">
         <!-- partial:partials/_sidebar.php -->
         <nav class="bg-white sidebar sidebar-offcanvas" id="sidebar">
           <div class="user-info">
             <img src="images/face.jpg" alt="">
             <p class="name">Name</p>
             <p class="designation">Name</p>
             
           </div>
           <ul class="nav">
             <li class="nav-item">
               <a class="nav-link" href="adminDashboard.html">
                 <img src="images/icons/1.png" alt="">
                 <span class="menu-title">Main</span>
               </a>
             </li>
                       
                       
                    
                       <li class="nav-item">
   
               <a class="nav-link" href="adminStudents.html">
                 <img src="images/icons/5.png" alt="">
                 <span class="menu-title">Students</span>
               </a>
             </li>
             <li class="nav-item active">
   
              <a class="nav-link" href="adminCoaches.html">
                <img src="images/icons/005-forms.png" alt="">

                <span class="menu-title">Coaches</span>
              </a>
            </li>
                      
           
             <li class="nav-item ">
   
               <a class="nav-link" data-toggle="collapse" href="#settings" aria-expanded="false" aria-controls="sample-pages">
                 <img src="images/icons/10.png" alt="">
                 <span class="menu-title">Settings<i class="fa fa-sort-down"></i></span>
               </a>
               <div class="collapse" id="settings">
                 <ul class="nav flex-column sub-menu">
               
                   <li class="nav-item">
                     <a class="nav-link" href="#">
                     ChangePassword
                     </a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" href="CoachLogin.html">
                     Logout
                     </a>
                   </li>
                
                 </ul>
               </div>
             </li>
       
           </ul>
         </nav>

    <!-- partial -->
    <div class="content-wrapper">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="clearfix">
                            <i class="fa fa-users float-right icon-grey-big"></i>
                        </div>
                        <h4 class="card-title font-weight-normal text-success">800</h4>
                        <h6 class="card-subtitle mb-4">All Coaches</h6>
                        <div class="progress progress-slim">
                            <div class="progress-bar bg-success-gadient" role="progressbar" style="width: 75%"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
      
      
        <div class="row mb-2">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table center-aligned-table" id="transactionTable">
                                <thead>

                                    <tr class="text-primary">
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>ID</th>
                                    </tr>

                                </thead>
                                <tbody>
                                  
                                    <tr class="">
                                        <td>Lorem</td>
                                        <td>coach@gmail.com</td>
                                        <td>12345678</td>
                                        <td>1001</td>
                                       
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- partial:../partials/_footer.php -->
    <footer class="footer">
      <div class="container-fluid clearfix">
        <span class="float-right">
            <a href="">loremIpsam</a> &copy; 2024
        </span>
      </div>
    </footer>
    <script>
document.addEventListener('DOMContentLoaded', function () {
const form = document.querySelector('form'); // Update with your form selector
const loadingOverlay = document.querySelector('.loading-overlay');

form.addEventListener('submit', function () {
  loadingOverlay.style.display = 'flex';
});

// Add this function where you handle the form submission response
function handleFormResponse() {
  loadingOverlay.style.display = 'none';
  // Additional logic or redirection after form submission response
}
});
</script>


    <!-- partial -->
</div>
</div>

</div>

<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
<script src="js/off-canvas.js"></script>
<script src="js/hoverable-collapse.js"></script>
<script src="js/misc.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script>
$(document).ready(function() {
    $('#transactionTable').DataTable({
        "order": [
            [0, "desc"]
        ],
        "lengthMenu": [10, 25, 50],
        "stripeClasses": ['even', 'odd'],
        "pagingType": "simple_numbers",
    });
});
</script>
</body>

</html>