

<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/homepage.css">

	<title>Victory Theme</title>

<link rel='stylesheet' id='victory-fonts-css' href='https://fonts.googleapis.com/css?family=Oxygen%3A400%2C700%2C300&#038;subset=latin' type='text/css' media='all' />
<link rel='stylesheet' id='victory-fontawesome-css' href='https://demo.wpclubmanager.com/victory/wp-content/themes/victory/includes/fonts/FontAwesome/css/font-awesome.min.css?ver=4.3.0' type='text/css' media='all' />
<link rel='stylesheet' id='victory-climacons-css' href='https://demo.wpclubmanager.com/victory/wp-content/themes/victory/includes/fonts/Climacons/css/climacons.css' type='text/css' media='all' />
<script type="text/javascript" src="https://demo.wpclubmanager.com/victory/wp-includes/js/jquery/jquery.min.js?ver=3.7.1" id="jquery-core-js"></script>


</head>
<body class="home page-template page-template-templates page-template-template-homepage page-template-templatestemplate-homepage-php page page-id-1064">
<div id="page" class="hfeed site">

	<a class="skip-link screen-reader-text" href="#content">Skip to content</a>

	
	 <div class="top-menu">
		<div class="inside">
			<div class="top-menu-wrap">
									<div class="date-time-display">
						Monday, April 1					</div>
						<!-- OWM -->
		<div class="weather-display">
			<i class="weather-icon climacons climacon-clouds"></i>
			<div class="weather-place">London, UK</div>
			<div class="weather-temperature">8.9<span class="weather-unit">&deg;C</span></div>
		</div>
		<div id="top-nav" class="menu-top-container"><ul id="menu-top" class="menu"><li id="menu-item-1580" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1580"><a href="https://demo.wpclubmanager.com/victory/news/">News</a></li>
<li id="menu-item-1585" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1585"><a href="https://demo.wpclubmanager.com/victory/contact/">Contact</a></li>
</ul></div>
						<a href="#" class="dropdown-toggle"><i class="fa fa-search"></i></a>

				        <div class="header-search">
							<form method="get" class="search-form" action="https://demo.wpclubmanager.com/victory/">
								<div role="search">
									<input class="input-search" type="text" value="" name="s" autocomplete="off" placeholder="Enter search term" />
									
								</div>
							</form>
						</div>

									<span id="login" class="victory-login">
						<a class="simplemodal-login" href="https://demo.wpclubmanager.com/victory/wp-login.php?redirect_to=%2Fvictory%2F">Login</a>					</span>
				
			</div><!-- .top-menu-wrap -->
		</div><!-- .inside -->
	</div><!-- .top-menu -->

	<header id="masthead" class="site-header" role="banner">
		<div class="inside">

			<div class="site-branding  has-logo">
									<!-- Show the logo image -->
					<a href="https://demo.wpclubmanager.com/victory/">
						<img class="site-logo" src="http://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/victory-logo.png" alt="Welcome to Victory Theme FC" />
					</a>
								<div class="site-title">
					<h1 class="site-name" itemprop="headline">
						<a href="https://demo.wpclubmanager.com/victory/" title="Victory Theme" rel="home">Victory Theme</a>
					</h1>
					<h2 class="site-description">Just another WordPress site</h2>
				</div><!-- .site-title -->
			</div><!-- .site-branding -->

							<div class="site-banner">
									</div><!-- .site-banner -->
			
		</div><!-- .inside -->

		<!-- Get the header background image -->
		
	</header><!-- #masthead .site-header -->


	<!-- Header navigation menu -->
	<nav id="main-navigation" class="main-navigation" role="navigation">
		<div class="inside">

			<!-- Mobile menu toggle -->
			<div class="menu-toggle">
				<span><i class="fa fa-reorder"></i>Menu</span>
				<span class="menu-close"><i class="fa fa-times"></i>Close Menu</span>
			</div><!-- .menu-toggle -->

			<div class="site-navigation">

				<div id="menu" class="menu-main-container"><ul id="menu-main" class="menu"><li id="menu-item-1530" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1064 current_page_item menu-item-1530"><a href="https://demo.wpclubmanager.com/victory/" aria-current="page">Home</a></li>
<li id="menu-item-1579" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1579"><a href="https://demo.wpclubmanager.com/victory/news/">News</a></li>
<li id="menu-item-1277" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1277"><a href="https://demo.wpclubmanager.com/victory/players/">Players</a></li>
<li id="menu-item-1482" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1482"><a href="https://demo.wpclubmanager.com/victory/staff/">Staff</a></li>
<li id="menu-item-1275" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1275"><a href="https://demo.wpclubmanager.com/victory/fixtures-results/">Fixtures &#038; Results</a></li>
<li id="menu-item-1276" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1276"><a href="https://demo.wpclubmanager.com/victory/league-table/">Table</a></li>
<li id="menu-item-1667" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1667"><a href="https://demo.wpclubmanager.com/victory/theme-features/">Features</a>
<ul class="sub-menu">
	<li id="menu-item-1671" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1671"><a href="https://demo.wpclubmanager.com/victory/theme-features/full-width/">Full Width Template</a>
	<ul class="sub-menu">
		<li id="menu-item-1701" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1701"><a href="https://demo.wpclubmanager.com/victory/theme-features/typography/">Third Level Menu</a></li>
	</ul>
</li>
	<li id="menu-item-1672" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1672"><a href="https://demo.wpclubmanager.com/victory/theme-features/typography/">Typography</a></li>
</ul>
</li>
<li id="menu-item-1703" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1703"><a href="https://demo.wpclubmanager.com/victory/contact/">Contact</a></li>
</ul></div>
			</div>

			<div id="social-nav" class="menu-social-container"><ul id="menu-social" class="menu"><li id="menu-item-1576" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1576"><a href="https://twitter.com/WPClubManager">Twitter</a></li>
<li id="menu-item-1577" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1577"><a href="https://facebook.com/">Facebook</a></li>
<li id="menu-item-1597" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1597"><a href="https://youtube.com">YouTube</a></li>
<li id="menu-item-1578" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1578"><a href="https://instagram.com">Instagram</a></li>
</ul></div>
		</div><!-- .inside -->
	</nav><!-- .site-navigation -->
	
		<div class="victory-hero-header" style="background-image: url(https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2013/03/frontpage-3.jpg);text-align:left">

			<div class="inside">

				<h1 class="victory-hero-title">Welcome to Mujtaba Theme FC</h1>

				
					<div class="victory-hero-subtitle"><h2 class="victory-hero-subtitle">The website of your local football club</h2></div>

				
					<div class="victory-hero-buttons">

						
							<a class="btn button-one" href="https://demo.wpclubmanager.com/victory/theme-features/typography/" title="Join our team">
								Join our team							</a>
							
							<a class="btn button-two" href="https://demo.wpclubmanager.com/victory/news/" title="Support us">Support us</a>
							
					</div>

				
			</div>

		</div>

	
	
	<div id="content" class="site-content">
		<div class="inside">

			
				<div class="victory-home-widgets">
					<div class="victory-home-widget"><aside id="wpcm_results-3" class="widget victory-home-widget wpcm-widget widget-results equal"><h1 class="widget-title">Latest Results</h1><ul class="wpcm-matches-widget">
<li class="fixture">
	<div class="victory-fixture-meta">
					<span class="competition">Super League&nbsp;</span>
				<span class="kickoff">
		June 13, 2014 @ 7:45 pm		</span>
	</div>
	
	<div class="victory-clubs">
		<div class="home-club">
			<div class="badge-wrap"><img width="61" height="80" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/logo7-61x80.png" class="attachment-crest-medium size-crest-medium wp-post-image" alt="" /></div>
			<h3>Holmesdale United</h3>
		</div>

		<div class="score win">
			2 - 3		</div>

		<div class="away-club">
			<div class="badge-wrap"><img width="80" height="80" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/victory-logo-80x80.png" class="attachment-crest-medium size-crest-medium wp-post-image" alt="" /></div>
			<h3>Victory Theme FC</h3>
		</div>
	</div>
	
	<a class="btn-secondary" href="https://demo.wpclubmanager.com/victory/match/175-holmesdale-united-v-victory-theme-fc/" style="margin-bottom: 0">
		Match Center	</a>
	
</li>
<li class="fixture">
	<div class="victory-fixture-meta">
					<span class="competition">Super League&nbsp;</span>
				<span class="kickoff">
		May 30, 2014 @ 7:45 pm		</span>
	</div>
	
	<div class="victory-clubs">
		<div class="home-club">
			<div class="badge-wrap"><img width="56" height="80" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/logo13-56x80.png" class="attachment-crest-medium size-crest-medium wp-post-image" alt="" /></div>
			<h3>Bodium Athletic</h3>
		</div>

		<div class="score loss">
			5 - 2		</div>

		<div class="away-club">
			<div class="badge-wrap"><img width="80" height="80" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/victory-logo-80x80.png" class="attachment-crest-medium size-crest-medium wp-post-image" alt="" /></div>
			<h3>Victory Theme FC</h3>
		</div>
	</div>
	
	<a class="btn-secondary" href="https://demo.wpclubmanager.com/victory/match/174-bodium-athletic-v-victory-theme-fc/" style="margin-bottom: 0">
		Match Center	</a>
	
</li>
<li class="fixture">
	<div class="victory-fixture-meta">
					<span class="competition">Super League&nbsp;</span>
				<span class="kickoff">
		May 23, 2014 @ 7:45 pm		</span>
	</div>
	
	<div class="victory-clubs">
		<div class="home-club">
			<div class="badge-wrap"><img width="80" height="80" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/victory-logo-80x80.png" class="attachment-crest-medium size-crest-medium wp-post-image" alt="" /></div>
			<h3>Victory Theme FC</h3>
		</div>

		<div class="score win">
			2 - 0		</div>

		<div class="away-club">
			<div class="badge-wrap"><img width="63" height="80" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/logo9-63x80.png" class="attachment-crest-medium size-crest-medium wp-post-image" alt="" /></div>
			<h3>Hollybush United</h3>
		</div>
	</div>
	
	<a class="btn-secondary" href="https://demo.wpclubmanager.com/victory/match/173-victory-theme-fc-v-hollybush-united/" style="margin-bottom: 0">
		Match Center	</a>
	
</li></ul></aside></div><div class="victory-home-widget"><aside id="wpcm_standings_widget-5" class="widget victory-home-widget wpcm-widget widget-standings equal"><h1 class="widget-title">League Table</h1><div class="wpcm-shortcode-wrapper">
<div class="wpcm-standings-shortcode wpcm-standings">

    
    <div class="victory-table-wrap">
        <table class="victory-table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                                            
                        <th class="p">P</th>
                    
                                            
                        <th class="gd">GD</th>
                    
                                            
                        <th class="pts">Pts</th>
                    
                                    
                </tr>
            </thead>
            <tbody>
            
                            
                <tr class="">

                    <td class="pos">
                        3                    </td>

                    <td class="club">
                        <a href="https://demo.wpclubmanager.com/victory/club/valence-invicta">Valence Invicta</a>                    </td>

                                            
                        <td class="p">17</td>

                                            
                        <td class="gd">18</td>

                                            
                        <td class="pts">32</td>

                    
                </tr>

                            
                <tr class="">

                    <td class="pos">
                        4                    </td>

                    <td class="club">
                        <a href="https://demo.wpclubmanager.com/victory/club/holmesdale-rovers">Holmesdale Rovers</a>                    </td>

                                            
                        <td class="p">16</td>

                                            
                        <td class="gd">7</td>

                                            
                        <td class="pts">31</td>

                    
                </tr>

                            
                <tr class="highlighted ">

                    <td class="pos">
                        5                    </td>

                    <td class="club">
                        Victory Theme FC                    </td>

                                            
                        <td class="p">16</td>

                                            
                        <td class="gd">-2</td>

                                            
                        <td class="pts">23</td>

                    
                </tr>

                            
                <tr class="">

                    <td class="pos">
                        6                    </td>

                    <td class="club">
                        <a href="https://demo.wpclubmanager.com/victory/club/holmesdale-united">Holmesdale United</a>                    </td>

                                            
                        <td class="p">16</td>

                                            
                        <td class="gd">7</td>

                                            
                        <td class="pts">21</td>

                    
                </tr>

                            
                <tr class="">

                    <td class="pos">
                        7                    </td>

                    <td class="club">
                        <a href="https://demo.wpclubmanager.com/victory/club/knole-united">Knole United</a>                    </td>

                                            
                        <td class="p">16</td>

                                            
                        <td class="gd">0</td>

                                            
                        <td class="pts">20</td>

                    
                </tr>

                            
                <tr class="">

                    <td class="pos">
                        8                    </td>

                    <td class="club">
                        <a href="https://demo.wpclubmanager.com/victory/club/bodium-athletic">Bodium Athletic</a>                    </td>

                                            
                        <td class="p">16</td>

                                            
                        <td class="gd">0</td>

                                            
                        <td class="pts">16</td>

                    
                </tr>

            
            </tbody>
        </table>
    </div>

            <a href="https://demo.wpclubmanager.com/victory/league-table/" class="wpcm-view-link">
            See full table        </a>
        
</div></div></aside></div><div class="victory-home-widget"><aside id="victory_players-2" class="widget victory-home-widget victory_players_widget equal"><h1 class="widget-title">Top Scorers</h1>
				<ul class="victory-players-widget">

				
					<li class="victory-player-module">

						<div class="victory-player-module-image">

							<a href="https://demo.wpclubmanager.com/victory/player/leandro-martinez/"><img width="184" height="245" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-2-184x245.jpg" class="attachment-player-medium size-player-medium wp-post-image" alt="" decoding="async" srcset="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-2-184x245.jpg 184w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-2-225x300.jpg 225w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-2-150x200.jpg 150w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-2-60x80.jpg 60w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-2-26x34.jpg 26w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-2-32x43.jpg 32w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-2.jpg 268w" sizes="(max-width: 184px) 100vw, 184px" /></a>
							<h4><a href="https://demo.wpclubmanager.com/victory/player/leandro-martinez/">Leandro Martinez</a></h4>

							<span class="victory-player-module-stat">

									10
							</span>

						</div>			

					</li>
				
					<li class="victory-player-module">

						<div class="victory-player-module-image">

							<a href="https://demo.wpclubmanager.com/victory/player/rocky-almanzar/"><img width="184" height="245" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-184x245.jpg" class="attachment-player-medium size-player-medium wp-post-image" alt="" decoding="async" srcset="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-184x245.jpg 184w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-225x300.jpg 225w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-150x200.jpg 150w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-60x80.jpg 60w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-26x34.jpg 26w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-32x43.jpg 32w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1.jpg 268w" sizes="(max-width: 184px) 100vw, 184px" /></a>
							<h4><a href="https://demo.wpclubmanager.com/victory/player/rocky-almanzar/">Rocky Almanzar</a></h4>

							<span class="victory-player-module-stat">

									3
							</span>

						</div>			

					</li>
				
					<li class="victory-player-module">

						<div class="victory-player-module-image">

							<a href="https://demo.wpclubmanager.com/victory/player/marcel-daubigne/"><img width="184" height="245" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-184x245.jpg" class="attachment-player-medium size-player-medium wp-post-image" alt="" decoding="async" srcset="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-184x245.jpg 184w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-225x300.jpg 225w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-150x200.jpg 150w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-60x80.jpg 60w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-26x34.jpg 26w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-32x43.jpg 32w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1.jpg 268w" sizes="(max-width: 184px) 100vw, 184px" /></a>
							<h4><a href="https://demo.wpclubmanager.com/victory/player/marcel-daubigne/">Marcel D'Aubigne</a></h4>

							<span class="victory-player-module-stat">

									2
							</span>

						</div>			

					</li>
				
					<li class="victory-player-module">

						<div class="victory-player-module-image">

							<a href="https://demo.wpclubmanager.com/victory/player/shaun-daniels/"><img width="184" height="245" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-184x245.jpg" class="attachment-player-medium size-player-medium wp-post-image" alt="" decoding="async" srcset="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-184x245.jpg 184w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-225x300.jpg 225w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-150x200.jpg 150w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-60x80.jpg 60w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-26x34.jpg 26w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-32x43.jpg 32w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3.jpg 268w" sizes="(max-width: 184px) 100vw, 184px" /></a>
							<h4><a href="https://demo.wpclubmanager.com/victory/player/shaun-daniels/">Shaun Daniels</a></h4>

							<span class="victory-player-module-stat">

									1
							</span>

						</div>			

					</li>
				
					<li class="victory-player-module">

						<div class="victory-player-module-image">

							<a href="https://demo.wpclubmanager.com/victory/player/fernando-rodrigues/"><img width="184" height="245" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-2-184x245.jpg" class="attachment-player-medium size-player-medium wp-post-image" alt="" decoding="async" srcset="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-2-184x245.jpg 184w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-2-225x300.jpg 225w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-2-150x200.jpg 150w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-2-60x80.jpg 60w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-2-26x34.jpg 26w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-2-32x43.jpg 32w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-2.jpg 268w" sizes="(max-width: 184px) 100vw, 184px" /></a>
							<h4><a href="https://demo.wpclubmanager.com/victory/player/fernando-rodrigues/">Fernando Rodrigues</a></h4>

							<span class="victory-player-module-stat">

									1
							</span>

						</div>			

					</li>
				
					<li class="victory-player-module">

						<div class="victory-player-module-image">

							<a href="https://demo.wpclubmanager.com/victory/player/damien-temple/"><img width="184" height="245" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-184x245.jpg" class="attachment-player-medium size-player-medium wp-post-image" alt="" decoding="async" srcset="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-184x245.jpg 184w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-225x300.jpg 225w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-150x200.jpg 150w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-60x80.jpg 60w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-26x34.jpg 26w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-32x43.jpg 32w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3.jpg 268w" sizes="(max-width: 184px) 100vw, 184px" /></a>
							<h4><a href="https://demo.wpclubmanager.com/victory/player/damien-temple/">Damien Temple</a></h4>

							<span class="victory-player-module-stat">

									1
							</span>

						</div>			

					</li>
				
				</ul>

				</aside></div>				</div>

			
				<div class="content-area full-width victory-full-width-panel">

					<h1 class="widget-title">Latest News</h1>

					<div class="victory-post-module victory-post-module-home row">

						
									<div class="grid-third">
										<div class="victory-post-item victory-post-item-featured-home">
											
												<div class="victory-post-item-thumb">
													<a href="https://demo.wpclubmanager.com/victory/class-aptent-taciti-sociosqu-ad-litora/" title="Man City give fans a night to remember">
														<img width="300" height="169" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/soccer-fans_00439304-300x169.jpg" class="attachment-medium size-medium wp-post-image" alt="" decoding="async" fetchpriority="high" srcset="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/soccer-fans_00439304-300x169.jpg 300w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/soccer-fans_00439304-768x432.jpg 768w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/soccer-fans_00439304-1024x576.jpg 1024w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/soccer-fans_00439304-356x200.jpg 356w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/soccer-fans_00439304-80x44.jpg 80w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/soccer-fans_00439304-34x19.jpg 34w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/soccer-fans_00439304.jpg 1920w" sizes="(max-width: 300px) 100vw, 300px" />													</a>
												</div>

											
											<div class="victory-post-item-text">
												<h3 class="entry-title"><a href="https://demo.wpclubmanager.com/victory/class-aptent-taciti-sociosqu-ad-litora/" rel="bookmark" title="Man City give fans a night to remember" class="victory-headline">Man City give fans a night to remember</a></h3>
												<span class="post-meta">
													11 Jun, 2014													<span class="meta-cats"><a href="https://demo.wpclubmanager.com/victory/category/club-news/" rel="category tag">Club News</a></span>
																											<span class="meta-comments">
															<a href="https://demo.wpclubmanager.com/victory/class-aptent-taciti-sociosqu-ad-litora/#respond">0</a>
														</span>
																									</span>
												<div class="post-summary">
													<p>Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class&#8230;</p>
												</div>
											</div>
										</div>
									</div>

								
									<div class="grid-third">
										<div class="victory-post-item victory-post-item-featured-home">
											
												<div class="victory-post-item-thumb">
													<a href="https://demo.wpclubmanager.com/victory/fusce-nec-tellus-sed-augue-semper/" title="Schmidt: Claims that Athletico are &#8216;incredibly dangerous&#8217;">
														<img width="300" height="200" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/soccer_win-300x200.jpg" class="attachment-medium size-medium wp-post-image" alt="" decoding="async" srcset="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/soccer_win-300x200.jpg 300w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/soccer_win-80x53.jpg 80w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/soccer_win-34x23.jpg 34w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/soccer_win.jpg 570w" sizes="(max-width: 300px) 100vw, 300px" />													</a>
												</div>

											
											<div class="victory-post-item-text">
												<h3 class="entry-title"><a href="https://demo.wpclubmanager.com/victory/fusce-nec-tellus-sed-augue-semper/" rel="bookmark" title="Schmidt: Claims that Athletico are &#8216;incredibly dangerous&#8217;" class="victory-headline">Schmidt: Claims that Athletico are &#8216;incredibly dangerous&#8217;</a></h3>
												<span class="post-meta">
													12 Jun, 2014													<span class="meta-cats"><a href="https://demo.wpclubmanager.com/victory/category/league-news/" rel="category tag">League News</a></span>
																											<span class="meta-comments">
															<a href="https://demo.wpclubmanager.com/victory/fusce-nec-tellus-sed-augue-semper/#respond">0</a>
														</span>
																									</span>
												<div class="post-summary">
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at&#8230;</p>
												</div>
											</div>
										</div>
									</div>

								
									<div class="grid-third">
										<div class="victory-post-item victory-post-item-featured-home">
											
												<div class="victory-post-item-thumb">
													<a href="https://demo.wpclubmanager.com/victory/integer-euismod-lacus-luctus-magna/" title="Liverpool reminded of what they&#8217;ve been missing">
														<img width="300" height="225" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/487349505_c30ecc38f8_z-300x225.jpg" class="attachment-medium size-medium wp-post-image" alt="" decoding="async" srcset="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/487349505_c30ecc38f8_z-300x225.jpg 300w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/487349505_c30ecc38f8_z-267x200.jpg 267w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/487349505_c30ecc38f8_z-80x60.jpg 80w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/487349505_c30ecc38f8_z-34x26.jpg 34w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/487349505_c30ecc38f8_z.jpg 640w" sizes="(max-width: 300px) 100vw, 300px" />													</a>
												</div>

											
											<div class="victory-post-item-text">
												<h3 class="entry-title"><a href="https://demo.wpclubmanager.com/victory/integer-euismod-lacus-luctus-magna/" rel="bookmark" title="Liverpool reminded of what they&#8217;ve been missing" class="victory-headline">Liverpool reminded of what they&#8217;ve been missing</a></h3>
												<span class="post-meta">
													13 Jun, 2014													<span class="meta-cats"><a href="https://demo.wpclubmanager.com/victory/category/club-news/" rel="category tag">Club News</a></span>
																											<span class="meta-comments">
															<a href="https://demo.wpclubmanager.com/victory/integer-euismod-lacus-luctus-magna/#respond">0</a>
														</span>
																									</span>
												<div class="post-summary">
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at&#8230;</p>
												</div>
											</div>
										</div>
									</div>

								
									<div class="grid-third">
										<div class="victory-post-item victory-post-item-featured-home">
											
												<div class="victory-post-item-thumb">
													<a href="https://demo.wpclubmanager.com/victory/nunc-feugiat-mi-a-tellus-consequat/" title="Fans must swallow pride as United eye &#8216;plastic treble&#8217;">
														<img width="300" height="169" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/soccer-fans_00439304-300x169.jpg" class="attachment-medium size-medium wp-post-image" alt="" decoding="async" srcset="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/soccer-fans_00439304-300x169.jpg 300w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/soccer-fans_00439304-768x432.jpg 768w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/soccer-fans_00439304-1024x576.jpg 1024w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/soccer-fans_00439304-356x200.jpg 356w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/soccer-fans_00439304-80x44.jpg 80w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/soccer-fans_00439304-34x19.jpg 34w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/soccer-fans_00439304.jpg 1920w" sizes="(max-width: 300px) 100vw, 300px" />													</a>
												</div>

											
											<div class="victory-post-item-text">
												<h3 class="entry-title"><a href="https://demo.wpclubmanager.com/victory/nunc-feugiat-mi-a-tellus-consequat/" rel="bookmark" title="Fans must swallow pride as United eye &#8216;plastic treble&#8217;" class="victory-headline">Fans must swallow pride as United eye &#8216;plastic treble&#8217;</a></h3>
												<span class="post-meta">
													14 Jun, 2014													<span class="meta-cats"><a href="https://demo.wpclubmanager.com/victory/category/transfers/" rel="category tag">Transfers</a></span>
																											<span class="meta-comments">
															<a href="https://demo.wpclubmanager.com/victory/nunc-feugiat-mi-a-tellus-consequat/#respond">0</a>
														</span>
																									</span>
												<div class="post-summary">
													<p>Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra,&#8230;</p>
												</div>
											</div>
										</div>
									</div>

								
									<div class="grid-third">
										<div class="victory-post-item victory-post-item-featured-home">
											
												<div class="victory-post-item-thumb">
													<a href="https://demo.wpclubmanager.com/victory/proin-sodales-libero-eget-ante/" title="Sutton ready for the FA Cup circus to leave town">
														<img width="300" height="200" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/soccer_win-300x200.jpg" class="attachment-medium size-medium wp-post-image" alt="" decoding="async" srcset="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/soccer_win-300x200.jpg 300w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/soccer_win-80x53.jpg 80w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/soccer_win-34x23.jpg 34w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/soccer_win.jpg 570w" sizes="(max-width: 300px) 100vw, 300px" />													</a>
												</div>

											
											<div class="victory-post-item-text">
												<h3 class="entry-title"><a href="https://demo.wpclubmanager.com/victory/proin-sodales-libero-eget-ante/" rel="bookmark" title="Sutton ready for the FA Cup circus to leave town" class="victory-headline">Sutton ready for the FA Cup circus to leave town</a></h3>
												<span class="post-meta">
													15 Jun, 2014													<span class="meta-cats"><a href="https://demo.wpclubmanager.com/victory/category/world-soccer/" rel="category tag">World Soccer</a></span>
																											<span class="meta-comments">
															<a href="https://demo.wpclubmanager.com/victory/proin-sodales-libero-eget-ante/#respond">0</a>
														</span>
																									</span>
												<div class="post-summary">
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at&#8230;</p>
												</div>
											</div>
										</div>
									</div>

								
									<div class="grid-third">
										<div class="victory-post-item victory-post-item-featured-home">
											
												<div class="victory-post-item-thumb">
													<a href="https://demo.wpclubmanager.com/victory/class-aptent-taciti-sociosqu-ad-litora-torquent/" title="It&#8217;s your Peoples Cup &#8211; Get involved!">
														<img width="300" height="225" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/487349505_c30ecc38f8_z-300x225.jpg" class="attachment-medium size-medium wp-post-image" alt="" decoding="async" srcset="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/487349505_c30ecc38f8_z-300x225.jpg 300w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/487349505_c30ecc38f8_z-267x200.jpg 267w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/487349505_c30ecc38f8_z-80x60.jpg 80w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/487349505_c30ecc38f8_z-34x26.jpg 34w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/487349505_c30ecc38f8_z.jpg 640w" sizes="(max-width: 300px) 100vw, 300px" />													</a>
												</div>

											
											<div class="victory-post-item-text">
												<h3 class="entry-title"><a href="https://demo.wpclubmanager.com/victory/class-aptent-taciti-sociosqu-ad-litora-torquent/" rel="bookmark" title="It&#8217;s your Peoples Cup &#8211; Get involved!" class="victory-headline">It&#8217;s your Peoples Cup &#8211; Get involved!</a></h3>
												<span class="post-meta">
													16 Jun, 2014													<span class="meta-cats"><a href="https://demo.wpclubmanager.com/victory/category/league-news/" rel="category tag">League News</a></span>
																											<span class="meta-comments">
															<a href="https://demo.wpclubmanager.com/victory/class-aptent-taciti-sociosqu-ad-litora-torquent/#respond">0</a>
														</span>
																									</span>
												<div class="post-summary">
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at&#8230;</p>
												</div>
											</div>
										</div>
									</div>

								
					</div>

				</div><!-- .content-area -->

			
				<div class="content-area full-width victory-full-width-panel">

					<h1 class="widget-title">Latest Match Reports</h1>

					<div class="victory-post-module victory-post-module-home row">

						
										<div class="grid-third">
											<div class="victory-post-item victory-post-item-featured-home victory-post-item-reports">
												<iframe width="840" height="473" src="https://www.youtube.com/embed/0si2hJLyFtM?feature=oembed" frameborder="0" allowfullscreen></iframe>
												<div class="victory-post-item-text">
													<h3 class="entry-title">
														<a href="https://demo.wpclubmanager.com/victory/match/175-holmesdale-united-v-victory-theme-fc/" rel="bookmark" title="Holmesdale United v Victory Theme FC" class="victory-headline">
															<span class="victory-post-item-clubs">
																Holmesdale United																<span class="victory-post-item-score">2</span>
															</span>
															<span class="victory-post-item-clubs">
																Victory Theme FC																<span class="victory-post-item-score">3</span>
															</span>
														</a>
													</h3>
													<div class="post-summary">
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at&#8230;</p>
													</div>
													<span class="reports-meta">
														13 Jun, 2014														<span class="meta-cats">Super League</a></span>
													</span>
													<a class="btn-secondary alignright" href="https://demo.wpclubmanager.com/victory/match/175-holmesdale-united-v-victory-theme-fc/">
														Match Center													</a>
												</div>
											</div>
										</div>

									
										<div class="grid-third">
											<div class="victory-post-item victory-post-item-featured-home victory-post-item-reports">
												
													<div class="victory-post-item-thumb">
														<a href="https://demo.wpclubmanager.com/victory/match/174-bodium-athletic-v-victory-theme-fc/" title="Bodium Athletic v Victory Theme FC">
															<img width="300" height="218" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/30876821921_e46de445a5_z-300x218.jpg" class="attachment-medium size-medium wp-post-image" alt="" decoding="async" srcset="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/30876821921_e46de445a5_z-300x218.jpg 300w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/30876821921_e46de445a5_z-275x200.jpg 275w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/30876821921_e46de445a5_z-80x58.jpg 80w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/30876821921_e46de445a5_z-34x25.jpg 34w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/30876821921_e46de445a5_z.jpg 640w" sizes="(max-width: 300px) 100vw, 300px" />														</a>
													</div>

												
												<div class="victory-post-item-text">
													<h3 class="entry-title">
														<a href="https://demo.wpclubmanager.com/victory/match/174-bodium-athletic-v-victory-theme-fc/" rel="bookmark" title="Bodium Athletic v Victory Theme FC" class="victory-headline">
															<span class="victory-post-item-clubs">
																Bodium Athletic																<span class="victory-post-item-score">5</span>
															</span>
															<span class="victory-post-item-clubs">
																Victory Theme FC																<span class="victory-post-item-score">2</span>
															</span>
														</a>
													</h3>
													<div class="post-summary">
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at&#8230;</p>
													</div>
													<span class="reports-meta">
														30 May, 2014														<span class="meta-cats">Super League</a></span>
													</span>
													<a class="btn-secondary alignright" href="https://demo.wpclubmanager.com/victory/match/174-bodium-athletic-v-victory-theme-fc/">
														Match Center													</a>
												</div>
											</div>
										</div>

									
										<div class="grid-third">
											<div class="victory-post-item victory-post-item-featured-home victory-post-item-reports">
												
													<div class="victory-post-item-thumb">
														<a href="https://demo.wpclubmanager.com/victory/match/173-victory-theme-fc-v-hollybush-united/" title="Victory Theme FC v Hollybush United">
															<img width="300" height="218" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/flickr-image-300x218.jpg" class="attachment-medium size-medium wp-post-image" alt="" decoding="async" srcset="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/flickr-image-300x218.jpg 300w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/flickr-image-275x200.jpg 275w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/flickr-image-80x58.jpg 80w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/flickr-image-34x25.jpg 34w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/flickr-image.jpg 640w" sizes="(max-width: 300px) 100vw, 300px" />														</a>
													</div>

												
												<div class="victory-post-item-text">
													<h3 class="entry-title">
														<a href="https://demo.wpclubmanager.com/victory/match/173-victory-theme-fc-v-hollybush-united/" rel="bookmark" title="Victory Theme FC v Hollybush United" class="victory-headline">
															<span class="victory-post-item-clubs">
																Victory Theme FC																<span class="victory-post-item-score">2</span>
															</span>
															<span class="victory-post-item-clubs">
																Hollybush United																<span class="victory-post-item-score">0</span>
															</span>
														</a>
													</h3>
													<div class="post-summary">
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at&#8230;</p>
													</div>
													<span class="reports-meta">
														23 May, 2014														<span class="meta-cats">Super League</a></span>
													</span>
													<a class="btn-secondary alignright" href="https://demo.wpclubmanager.com/victory/match/173-victory-theme-fc-v-hollybush-united/">
														Match Center													</a>
												</div>
											</div>
										</div>

									
										<div class="grid-third">
											<div class="victory-post-item victory-post-item-featured-home victory-post-item-reports">
												
													<div class="victory-post-item-thumb">
														<a href="https://demo.wpclubmanager.com/victory/match/172-ed-united-v-victory-theme-fc/" title="Ed United v Victory Theme FC">
															<img width="300" height="217" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/23218638595_9cfce961b0_z-300x217.jpg" class="attachment-medium size-medium wp-post-image" alt="" decoding="async" srcset="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/23218638595_9cfce961b0_z-300x217.jpg 300w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/23218638595_9cfce961b0_z-277x200.jpg 277w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/23218638595_9cfce961b0_z-80x58.jpg 80w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/23218638595_9cfce961b0_z-34x25.jpg 34w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/23218638595_9cfce961b0_z.jpg 640w" sizes="(max-width: 300px) 100vw, 300px" />														</a>
													</div>

												
												<div class="victory-post-item-text">
													<h3 class="entry-title">
														<a href="https://demo.wpclubmanager.com/victory/match/172-ed-united-v-victory-theme-fc/" rel="bookmark" title="Ed United v Victory Theme FC" class="victory-headline">
															<span class="victory-post-item-clubs">
																Ed United																<span class="victory-post-item-score">2</span>
															</span>
															<span class="victory-post-item-clubs">
																Victory Theme FC																<span class="victory-post-item-score">0</span>
															</span>
														</a>
													</h3>
													<div class="post-summary">
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at&#8230;</p>
													</div>
													<span class="reports-meta">
														16 May, 2014														<span class="meta-cats">Super League</a></span>
													</span>
													<a class="btn-secondary alignright" href="https://demo.wpclubmanager.com/victory/match/172-ed-united-v-victory-theme-fc/">
														Match Center													</a>
												</div>
											</div>
										</div>

									
										<div class="grid-third">
											<div class="victory-post-item victory-post-item-featured-home victory-post-item-reports">
												
													<div class="victory-post-item-thumb">
														<a href="https://demo.wpclubmanager.com/victory/match/171-victory-theme-fc-v-holmesdale-rovers/" title="Victory Theme FC v Holmesdale Rovers">
															<img width="300" height="218" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/30876821921_e46de445a5_z-300x218.jpg" class="attachment-medium size-medium wp-post-image" alt="" decoding="async" srcset="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/30876821921_e46de445a5_z-300x218.jpg 300w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/30876821921_e46de445a5_z-275x200.jpg 275w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/30876821921_e46de445a5_z-80x58.jpg 80w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/30876821921_e46de445a5_z-34x25.jpg 34w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/30876821921_e46de445a5_z.jpg 640w" sizes="(max-width: 300px) 100vw, 300px" />														</a>
													</div>

												
												<div class="victory-post-item-text">
													<h3 class="entry-title">
														<a href="https://demo.wpclubmanager.com/victory/match/171-victory-theme-fc-v-holmesdale-rovers/" rel="bookmark" title="Victory Theme FC v Holmesdale Rovers" class="victory-headline">
															<span class="victory-post-item-clubs">
																Victory Theme FC																<span class="victory-post-item-score">0</span>
															</span>
															<span class="victory-post-item-clubs">
																Holmesdale Rovers																<span class="victory-post-item-score">1</span>
															</span>
														</a>
													</h3>
													<div class="post-summary">
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at&#8230;</p>
													</div>
													<span class="reports-meta">
														9 May, 2014														<span class="meta-cats">Super League</a></span>
													</span>
													<a class="btn-secondary alignright" href="https://demo.wpclubmanager.com/victory/match/171-victory-theme-fc-v-holmesdale-rovers/">
														Match Center													</a>
												</div>
											</div>
										</div>

									
										<div class="grid-third">
											<div class="victory-post-item victory-post-item-featured-home victory-post-item-reports">
												
													<div class="victory-post-item-thumb">
														<a href="https://demo.wpclubmanager.com/victory/match/170-valence-invicta-v-victory-theme-fc/" title="Valence Invicta v Victory Theme FC">
															<img width="300" height="217" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/23218638595_9cfce961b0_z-300x217.jpg" class="attachment-medium size-medium wp-post-image" alt="" decoding="async" srcset="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/23218638595_9cfce961b0_z-300x217.jpg 300w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/23218638595_9cfce961b0_z-277x200.jpg 277w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/23218638595_9cfce961b0_z-80x58.jpg 80w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/23218638595_9cfce961b0_z-34x25.jpg 34w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/05/23218638595_9cfce961b0_z.jpg 640w" sizes="(max-width: 300px) 100vw, 300px" />														</a>
													</div>

												
												<div class="victory-post-item-text">
													<h3 class="entry-title">
														<a href="https://demo.wpclubmanager.com/victory/match/170-valence-invicta-v-victory-theme-fc/" rel="bookmark" title="Valence Invicta v Victory Theme FC" class="victory-headline">
															<span class="victory-post-item-clubs">
																Valence Invicta																<span class="victory-post-item-score">1</span>
															</span>
															<span class="victory-post-item-clubs">
																Victory Theme FC																<span class="victory-post-item-score">2</span>
															</span>
														</a>
													</h3>
													<div class="post-summary">
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at&#8230;</p>
													</div>
													<span class="reports-meta">
														2 May, 2014														<span class="meta-cats">Super League</a></span>
													</span>
													<a class="btn-secondary alignright" href="https://demo.wpclubmanager.com/victory/match/170-valence-invicta-v-victory-theme-fc/">
														Match Center													</a>
												</div>
											</div>
										</div>

							
					
					

									
					</div>

				</div><!-- .content-area -->

			
						<div class="content-area full-width victory-full-width-panel victory-home-players">

							<h1 class="widget-title">The Players</h1>

							<div class="victory-module-wrap">
								<div class="victory-player-module-home">
									
										<div class="victory-player-module">
											<div class="victory-player-module-image">
												<a href="https://demo.wpclubmanager.com/victory/player/shaun-daniels/" title="Shaun Daniels" class="thumbnail">
													<img width="184" height="245" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-184x245.jpg" class="attachment-player-medium size-player-medium wp-post-image" alt="" decoding="async" srcset="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-184x245.jpg 184w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-225x300.jpg 225w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-150x200.jpg 150w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-60x80.jpg 60w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-26x34.jpg 26w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-32x43.jpg 32w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3.jpg 268w" sizes="(max-width: 184px) 100vw, 184px" />												</a>
												<h4>
													<a href="https://demo.wpclubmanager.com/victory/player/shaun-daniels/" rel="bookmark" title="Shaun Daniels"> Shaun Daniels</a>
												</h4>
											</div>
										</div>

									
										<div class="victory-player-module">
											<div class="victory-player-module-image">
												<a href="https://demo.wpclubmanager.com/victory/player/rocky-almanzar/" title="Rocky Almanzar" class="thumbnail">
													<img width="184" height="245" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-184x245.jpg" class="attachment-player-medium size-player-medium wp-post-image" alt="" decoding="async" srcset="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-184x245.jpg 184w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-225x300.jpg 225w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-150x200.jpg 150w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-60x80.jpg 60w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-26x34.jpg 26w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-32x43.jpg 32w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1.jpg 268w" sizes="(max-width: 184px) 100vw, 184px" />												</a>
												<h4>
													<a href="https://demo.wpclubmanager.com/victory/player/rocky-almanzar/" rel="bookmark" title="Rocky Almanzar"> Rocky Almanzar</a>
												</h4>
											</div>
										</div>

									
										<div class="victory-player-module">
											<div class="victory-player-module-image">
												<a href="https://demo.wpclubmanager.com/victory/player/elliot-davenport/" title="Elliot Davenport" class="thumbnail">
													<img width="184" height="245" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-184x245.jpg" class="attachment-player-medium size-player-medium wp-post-image" alt="" decoding="async" srcset="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-184x245.jpg 184w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-225x300.jpg 225w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-150x200.jpg 150w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-60x80.jpg 60w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-26x34.jpg 26w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-32x43.jpg 32w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3.jpg 268w" sizes="(max-width: 184px) 100vw, 184px" />												</a>
												<h4>
													<a href="https://demo.wpclubmanager.com/victory/player/elliot-davenport/" rel="bookmark" title="Elliot Davenport"> Elliot Davenport</a>
												</h4>
											</div>
										</div>

									
										<div class="victory-player-module">
											<div class="victory-player-module-image">
												<a href="https://demo.wpclubmanager.com/victory/player/leandro-martinez/" title="Leandro Martinez" class="thumbnail">
													<img width="184" height="245" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-2-184x245.jpg" class="attachment-player-medium size-player-medium wp-post-image" alt="" decoding="async" srcset="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-2-184x245.jpg 184w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-2-225x300.jpg 225w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-2-150x200.jpg 150w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-2-60x80.jpg 60w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-2-26x34.jpg 26w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-2-32x43.jpg 32w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-2.jpg 268w" sizes="(max-width: 184px) 100vw, 184px" />												</a>
												<h4>
													<a href="https://demo.wpclubmanager.com/victory/player/leandro-martinez/" rel="bookmark" title="Leandro Martinez"> Leandro Martinez</a>
												</h4>
											</div>
										</div>

									
										<div class="victory-player-module">
											<div class="victory-player-module-image">
												<a href="https://demo.wpclubmanager.com/victory/player/glen-toles/" title="Glen Toles" class="thumbnail">
													<img width="184" height="245" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-184x245.jpg" class="attachment-player-medium size-player-medium wp-post-image" alt="" decoding="async" srcset="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-184x245.jpg 184w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-225x300.jpg 225w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-150x200.jpg 150w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-60x80.jpg 60w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-26x34.jpg 26w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-32x43.jpg 32w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1.jpg 268w" sizes="(max-width: 184px) 100vw, 184px" />												</a>
												<h4>
													<a href="https://demo.wpclubmanager.com/victory/player/glen-toles/" rel="bookmark" title="Glen Toles"> Glen Toles</a>
												</h4>
											</div>
										</div>

									
										<div class="victory-player-module">
											<div class="victory-player-module-image">
												<a href="https://demo.wpclubmanager.com/victory/player/john-mcmorris/" title="John McMorris" class="thumbnail">
													<img width="184" height="245" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-184x245.jpg" class="attachment-player-medium size-player-medium wp-post-image" alt="" decoding="async" srcset="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-184x245.jpg 184w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-225x300.jpg 225w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-150x200.jpg 150w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-60x80.jpg 60w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-26x34.jpg 26w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3-32x43.jpg 32w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-3.jpg 268w" sizes="(max-width: 184px) 100vw, 184px" />												</a>
												<h4>
													<a href="https://demo.wpclubmanager.com/victory/player/john-mcmorris/" rel="bookmark" title="John McMorris"> John McMorris</a>
												</h4>
											</div>
										</div>

									
										<div class="victory-player-module">
											<div class="victory-player-module-image">
												<a href="https://demo.wpclubmanager.com/victory/player/paolo-di-rossi/" title="Paolo Di Rossi" class="thumbnail">
													<img width="184" height="245" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-184x245.jpg" class="attachment-player-medium size-player-medium wp-post-image" alt="" decoding="async" srcset="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-184x245.jpg 184w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-225x300.jpg 225w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-150x200.jpg 150w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-60x80.jpg 60w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-26x34.jpg 26w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1-32x43.jpg 32w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2014/06/player-profile-1.jpg 268w" sizes="(max-width: 184px) 100vw, 184px" />												</a>
												<h4>
													<a href="https://demo.wpclubmanager.com/victory/player/paolo-di-rossi/" rel="bookmark" title="Paolo Di Rossi"> Paolo Di Rossi</a>
												</h4>
											</div>
										</div>

									
									
									

																	</div><!--/.row-->
							</div><!--/.related-players-->
						</div><!-- .content-area -->

					
		</div><!-- .inside -->
	</div><!-- #content .site-content -->


		<div class="footer-sponsors">
			<div class="inside">

				
					<div class="victory-footer-sponsors-widgets">

						<div class="footer-sponsors-widget">
		<a href="https://wpclubmanager.com" target=&quot;_blank&quot;>
			<img width="300" height="47" src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2017/02/wp-club-manager-logo.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2017/02/wp-club-manager-logo.png 300w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2017/02/wp-club-manager-logo-80x13.png 80w, https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2017/02/wp-club-manager-logo-34x5.png 34w" sizes="(max-width: 300px) 100vw, 300px" />		</a>

		</div>
					</div><!-- .footer-sponsors -->
					
				
				
			<div class="footer-sponsors-grid equal">

			
					<a rel="nofollow" href="https://demo.wpclubmanager.com/victory/sponsors/bbpress-logo/" target="_blank">

				
				<img src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2017/03/bbpress-logo.png" class="sponsorspro-img"/>

									</a>
				
			</div>

		
			<div class="footer-sponsors-grid equal">

			
					<a rel="nofollow" href="https://demo.wpclubmanager.com/victory/sponsors/woocommerce-logo/" target="_blank">

				
				<img src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2017/02/woocommerce-logo.png" class="sponsorspro-img"/>

									</a>
				
			</div>

		
			<div class="footer-sponsors-grid equal">

			
					<a rel="nofollow" href="https://demo.wpclubmanager.com/victory/sponsors/wordpress-logo/" target="_blank">

				
				<img src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2017/02/wordpress-logo-hoz-rgb.png" class="sponsorspro-img"/>

									</a>
				
			</div>

		
			<div class="footer-sponsors-grid equal">

			
					<a rel="nofollow" href="https://demo.wpclubmanager.com/victory/sponsors/jetpack-logo/" target="_blank">

				
				<img src="https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2017/02/jetpack-logo.png" class="sponsorspro-img"/>

									</a>
				
			</div>

		
			</div><!-- .inside -->
		</div><!-- .footer-sponsors -->

	
	<footer id="colophon" class="site-footer" role="contentinfo">
		<div class="inside">

			
				<div class="footer-widgets">
					<aside id="recent-comments-2" class="widget footer-widget widget_recent_comments"><h1 class="widget-title">Recent Comments</h1><ul id="recentcomments"><li class="recentcomments"><span class="comment-author-link"><a href="http://chrisam.es/" class="url" rel="ugc external nofollow">Chris Ames</a></span> on <a href="https://demo.wpclubmanager.com/victory/comments/#comment-30">Event organisers explain Hayatou absense</a></li><li class="recentcomments"><span class="comment-author-link"><a href="http://jarederickson.com/" class="url" rel="ugc external nofollow">Jared Erickson</a></span> on <a href="https://demo.wpclubmanager.com/victory/comments/#comment-29">Event organisers explain Hayatou absense</a></li><li class="recentcomments"><span class="comment-author-link">Michael Novotny</span> on <a href="https://demo.wpclubmanager.com/victory/comments/#comment-28">Event organisers explain Hayatou absense</a></li><li class="recentcomments"><span class="comment-author-link"><a href="http://ma.tt/" class="url" rel="ugc external nofollow">Matt Mullenweg</a></span> on <a href="https://demo.wpclubmanager.com/victory/comments/#comment-26">Event organisers explain Hayatou absense</a></li></ul></aside>
		<aside id="recent-posts-2" class="widget footer-widget widget_recent_entries">
		<h1 class="widget-title">Recent Posts</h1>
		<ul>
											<li>
					<a href="https://demo.wpclubmanager.com/victory/class-aptent-taciti-sociosqu-ad-litora/">Man City give fans a night to remember</a>
											<span class="post-date">June 14, 2014</span>
									</li>
											<li>
					<a href="https://demo.wpclubmanager.com/victory/fusce-nec-tellus-sed-augue-semper/">Schmidt: Claims that Athletico are &#8216;incredibly dangerous&#8217;</a>
											<span class="post-date">June 14, 2014</span>
									</li>
											<li>
					<a href="https://demo.wpclubmanager.com/victory/integer-euismod-lacus-luctus-magna/">Liverpool reminded of what they&#8217;ve been missing</a>
											<span class="post-date">June 14, 2014</span>
									</li>
											<li>
					<a href="https://demo.wpclubmanager.com/victory/nunc-feugiat-mi-a-tellus-consequat/">Fans must swallow pride as United eye &#8216;plastic treble&#8217;</a>
											<span class="post-date">June 13, 2014</span>
									</li>
					</ul>

		</aside><aside id="categories-2" class="widget footer-widget widget_categories"><h1 class="widget-title">Categories</h1>
			<ul>
					<li class="cat-item cat-item-77"><a href="https://demo.wpclubmanager.com/victory/category/club-news/">Club News</a> <span class="post_count">5</span>
</li>
	<li class="cat-item cat-item-80"><a href="https://demo.wpclubmanager.com/victory/category/league-news/">League News</a> <span class="post_count">5</span>
</li>
	<li class="cat-item cat-item-78"><a href="https://demo.wpclubmanager.com/victory/category/transfers/">Transfers</a> <span class="post_count">2</span>
</li>
	<li class="cat-item cat-item-79"><a href="https://demo.wpclubmanager.com/victory/category/world-soccer/">World Soccer</a> <span class="post_count">1</span>
</li>
			</ul>

			</aside>				</div><!-- .footer-widgets -->
				
			
			<div class="footer-bottom">

				<div id="footer-right" class="menu-footer-container"><ul id="menu-footer" class="menu"><li id="menu-item-1586" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1064 current_page_item menu-item-1586"><a href="https://demo.wpclubmanager.com/victory/" aria-current="page">Home</a></li>
<li id="menu-item-1588" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1588"><a href="https://demo.wpclubmanager.com/victory/news/">News</a></li>
<li id="menu-item-1587" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1587"><a href="https://demo.wpclubmanager.com/victory/contact/">Contact</a></li>
</ul></div>
				<div class="footer-left">
					&copy; 2024 Victory Theme by <a href="https://wpclubmanager.com" rel="nofollow">WP Club Manager</a>.				</div><!-- .footer-left -->

			</div><!-- .footer-bottom -->

		</div><!-- .inside -->
	</footer><!-- #colophon .site-footer -->

</div><!-- #page .site -->

<script type="text/javascript" src="https://demo.wpclubmanager.com/victory/wp-content/themes/victory/js/victory.min.js?ver=1.0" id="victory-js-js"></script>
<script type="text/javascript" src="https://demo.wpclubmanager.com/victory/wp-content/themes/victory/js/init.js?ver=1.0" id="victory-custom-js-js"></script>
<script type="text/javascript" src="https://demo.wpclubmanager.com/victory/wp-includes/js/comment-reply.min.js?ver=6.4.3" id="comment-reply-js" async="async" data-wp-strategy="async"></script>


</body>
</html>