
<script type="text/javascript" src="https://demo.wpclubmanager.com/victory/wp-content/plugins/wpcm-player-appearances/assets/js/wpcm-player-appearances.js?ver=1.2" id="wpcm-pa-script-js"></script>
<script type="text/javascript" src="https://demo.wpclubmanager.com/victory/wp-includes/js/hoverIntent.min.js?ver=1.10.2" id="hoverIntent-js"></script>
<script type="text/javascript" src="https://demo.wpclubmanager.com/victory/wp-content/themes/victory/js/victory.min.js?ver=1.0" id="victory-js-js"></script>
<script type="text/javascript" id="victory-custom-js-js-extra">
</script>
<script type="text/javascript" src="https://demo.wpclubmanager.com/victory/wp-content/themes/victory/js/init.js?ver=1.0" id="victory-custom-js-js"></script>
<script type="text/javascript" src="https://demo.wpclubmanager.com/victory/wp-includes/js/comment-reply.min.js?ver=6.4.3" id="comment-reply-js" async="async" data-wp-strategy="async"></script>

</body>
</html>