<div class="navbarContainer">
  <nav class="navbar">
    <div class="logoContent">
      <img class="navbarLogo" src="/images/logo.png" />
      <div class="logoTextContent">
        <p class="logoTextContentMainHeading">Join Our Team</p>
        <p class="logoTextContentSubheading">Find your team</p>
      </div>
    </div>
    <ul class="navButtonsContainer">
      <li class="navButtons active"><a href="/">Home</a></li>
      <li class="navButtons"><a href="/">News</a></li>
      <li class="navButtons"><a href="/">Teams</a></li>
      <li class="navButtons"><a href="/">Staff</a></li>
      <li class="navButtons"><a href="/">Table</a></li>
      <% if(title === "Players"){ %>
      <button type="button" class="qrCodeBtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Qr Code
      </button>
      <% } %>
    </ul>
    <div class="loginSection">
      <i class='bx bx-search-alt'></i>
      <i id="menu" class='bx bx-menu'></i>
      <div class="loginButtonContainer">
        <a href="/student/login" class="loginButton">Login</a>
      </div>
    </div>
  </nav>
</div>
