<%- include('../homepagepartials/head') %>
<title>Coaches</title>
<%- include('../homepagepartials/body')%>
<%- include('../homepagepartials/navbar', {title: "Coaches"})%>
<div class="victory-hero-header" style="background-image: url(https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2013/03/frontpage-3.jpg);text-align:left">
  <div class="inside">
    <h1 class="victory-hero-title">Welcome to Cricket Theme FC</h1>
    <div class="victory-hero-subtitle">
      <h2 class="victory-hero-subtitle">The website of your local football club</h2>
    </div>
    <div class="victory-hero-buttons">
      <a class="btn button-one" href="#" title="Join our team">
        Join our team </a>
      <a class="btn button-two" href="#" title="Support us">Support us</a>
    </div>
  </div>
</div>
<div id="content" class="site-content">
  <div class="inside">
    <h1 class="widget-title">Coaches</h1>

    <!-- Un Comment this Start For Loop-->

          <!-- <% for (let coach of coachs){ %>
          <div class="victory-home-widget width_24">
            <aside id="victory_players-2" class="widget victory-home-widget victory_players_widget equal"><h1 class="widget-title">Students</h1>
              <div class="victory-player-module-image">
                <img src=" <%coach.image %>" height="245" alt="" sizes="(max-width: 184px) 100vw, 184px" >
                <h4><a href="#"><%coach.username %></a></h4>
                <span class="victory-player-module-stat">
                  <%coach.jersey %>
              </span>
              </div>
            </aside></div>	   
      <% } %> -->
    <!-- Un Comment this End For Loop -->


            <!-- Remove this if data coming from Backend Start -->
            <div class="victory-home-widget width_24">
              <aside id="victory_players-2" class="widget victory-home-widget victory_players_widget equal">
                <div class="victory-player-module-image">
                  <img src="/images/face.jpg" height="245" alt="" sizes="(max-width: 184px) 100vw, 184px" >
                  <h4><a href="#">Coach Mujtaba</a></h4>
                  <span class="victory-player-module-stat">
                    60
                </span>
                </div>
              </aside></div>	 

            <!-- Remove this if data coming from Backend End -->
 
  </div>
  <%- include('../homepagepartials/footer') %>

