<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stripe Payment</title>

</head>

<body>
  <form action="/create-checkout-session" method="post">
    <div id="card-element">
    
    </div>
    <button type="submit">Pay</button>
  </form>


</body>

</html>
